.deps
.libs
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
install-sh
Makefile
Makefile.in
missing
libsqfs.pc
depcomp
ltmain.sh
libtool
stamp-h1
test-driver
*.o
*.lo
*.la
*.gcda
*.gcno
*.log
*.trs
doc
